


ul {
  background-color: #e7e7e7;
  overflow: hidden;
  list-style-type: none;
}


li {
  background-color: #e7e7e7;
}

li a {
  color:black;
  text-align: center;
}

li a:hover {
  background-color: darkgrey;
  color:lightcyan;
}

.vertical-bar ul {
  background-color: #e7e7e7;
  overflow: hidden;
  list-style-type: none;
  display: block;
}

.vertical-bar ul li{
  padding: 15px;
  float: left;
}

.vertical-bar ul li a {
  padding: 15px;
  background: #e7e7e7;
}

.vertical-bar ul li a:hover {
  padding: 15px;
  background-color: darkgrey;
  color:lightcyan;
}