
/* ------------------------------- */
/*        Main CSS file            */
/* ------------------------------- */

@import "base.css";
@import "blog.css";
@import "archives.css";



.container {
  padding:5%;
  border:0px solid orange;
  justify-content: center;
  margin-inline:auto;

}

.content-container {
  display: grid;
  grid-gap: 10px;
  padding:5%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto  ;
  grid-template-areas: 
    "header header header header"
    "main main main sidebar";
  border:0px solid black;
  justify-content: center;
  margin-inline:auto;
}

.sidebar-box {
  background-color: #e7e7e7; 
  float:none;
  background-color: e7e7e7;
  color:black;
  text-align:right;
  padding-right: 10%;
  padding-left: 8%
}

.content-box {
  align-items: center;
  justify-content: center;
  padding: 16px 16px 16px 16px ;
  position: relative;
  text-align:justify;
}

.content-flex {
  display:flex;
  column-gap: 2em;
}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
}

#sidebar{
  grid-area: sidebar;
}

#main {
  grid-area: main;
}

#c1 {
  grid-area: c1;
}

#c2 {
  grid-area: c2;
}

#c3 {
  grid-area: c3;
}

#c4 {
  grid-area: c4;
}
