
/* ------------------------------- */
/* Reset                           */
/* ------------------------------- */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-variant:inherit ;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}



/* ------------------------------- */
/* Utility classes                 */
/* ------------------------------- */

.flex {
  display:flex;
}

.grid {
  display:grid;
}

.container {
  display: grid;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-inline: 5em;
  margin: 5p;
  grid-gap: 10px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto  ;
  grid-template-areas: 
    "header header header header"
    "main main main sidebar";
  border:0px solid black;
  justify-content: center;
  max-width: 50rem;
  margin-inline:auto;
}

.box {
  display:flex;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-inline: 0.2em;
  margin: 1px;
  align-items: center;
  justify-content: center;
  border: 0px solid red;
  background-color: #e7e7e7;
}

.grid-item.nested-grid {
  display: grid;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-inline: 0.2em;
  margin: 1px;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "c1 c2"
    "c3 c4";
  /*border:2px solid brown;*/
  justify-content: center;
  padding: 10px 10px 10px 10px;
}


.content-box {
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #9a9a9a;
  background-color: #dddddd;
  border-radius: 20px;
  padding: 16px 16px 16px 16px ;
  cursor: pointer;
  position: relative;

}

#header {
  grid-area: header;
}

#footer {
  grid-area: footer;
}

#sidebar{
  grid-area: sidebar;
}

#main {
  grid-area: main;
}

#c1 {
  grid-area: c1;
}

#c2 {
  grid-area: c2;
}

#c3 {
  grid-area: c3;
}

#c4 {
  grid-area: c4;
}

li {
  display: block;
  float: left;
  background-color: e7e7e7;
  padding: 10px;
}

ul {
  border: 1px solid #e7e7e7;
  background-color: #e7e7e7;
  margin:0;
  padding:0;
  overflow: hidden;
  list-style-type: one;
  
}

li a {
  color:black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: darkgrey;
}

.li-side {
  float:none;
  background-color: e7e7e7;
  color:black;
  padding: 5px 5px;

}

/* ------------------------------- */
/* Social Media Buttons classes                 */
/* ------------------------------- */


.fa {
  padding: 7px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Twitter */
.fa-youtube {
  background: red;
  color: white;
}